login: &login
  adapter: postgresql
  encoding: utf8
  host: localhost
  username: victor
  password: pg_va6

development:
  <<: *login
  database: media_dev

test:
  <<: *login
  database: media_test

production:
  <<: *login
  database: media_prod