%h1 Listing users
.container
  .row
    .col-lg-12
      %table.table.table-hover.table-bordered.table-striped
        %thead
          %tr
            %th Username
            %th Favorited movies
            %th Action
        %tbody
          - @users.each do |user|
            %tr
              %td= link_to user.username, user
              %td= user.favorited
              %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }